<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="create-blog" th:fragment="blogCreate">
    <div class="container">
        <h1 class="mb-4">Create Blog Post</h1>
        <div class="blog-form">
            <form th:action="@{/rest/blogs}" method="post">
                <div class="mb-3">
                    <label>Title:</label><br>
                    <input class="form-control" type="text" th:field="${blog.title}" required><br>
                </div>
                <div class="mb-3">
                    <label>Content:</label><br>
                    <textarea rows="10" class="form-control" th:field="${blog.content}" required></textarea><br>
                </div>
                <div class="mb-3">
                    <label>Author:</label><br>
                    <input class="form-control" type="text" th:field="${blog.author}" required><br>
                </div>
                <!-- You can add fields for publicationDate, slug, and status if needed -->
                <button class="btn primary" type="submit">Create</button>
            </form>
        </div>
    </div>
</div>


</body>
</html>